.login {
    background-color: #fff;

    .container {
        width: 1200px;
        margin: 0 auto;
    }

    .top {}

    $bg-color:#eff2f7;

    .main-bd {
        height: 528px;
        box-sizing: border-box;
        background-color: $bg-color;
        padding: 89px 0 32px;


    }

    .main-ft {}
}